!!!
%html 
  %head 
    %title D3 Tutorials
    %link{:rel => "stylesheet", :href => "/stylesheets/bootstrap.css"}
    %script{:type => "text/javascript", :src => "/javascripts/d3-min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery-min.js"}
    = yield_content :head
  %body
    .container
      %header.jumbotron 
        %h1 D3 Tutorials
      .row.show-grid
        %ul
          %li
            %a{:href => "/"} Main
          %ul
            %li
              %a{:href => "http://alignedleft.com/tutorials/d3/"} Scott Murray's D3 Tutorial
            %ol
              %li
                %a{:href => "/murray/1"} Drawing Divs
              %li
                %a{:href => "/murray/2"} The Power of Data
              %li
                %a{:href => "/murray/3"} An SVG Primer
      .row.show-grid
        #box.span8
          = yield_content :box


                    
