!!!
%html 
  %head 
    %title D3 Tutorials
    %link{:rel => "stylesheet", :href => "/stylesheets/styles.css"}
    %script{:type => "text/javascript", :src => "javascripts/d3-min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery-min.js"}
    = yield_content :head
  %body
    %ul
      %li
        %a{:href => "/"} Main 
      %li
        %a{:href => "/drawing-divs"} Drawing Divs
      %li
        %a{:href => "/the-power-of-data"} The Power of Data

            
